
/* CSS */
.btn {
  align-items: center;
  background-color: #fff;
  /* border-radius: 12px; */
  box-shadow: transparent 0 0 0 3px,rgba(18, 18, 18, .1) 0 6px 20px;
  box-sizing: border-box;
  color: #121212;
  cursor: pointer;
  display: inline-flex;
  flex: 1 1 auto;
  font-family: 'PT Mono', monospace;
  font-size: 1.5rem;
  font-weight: 900;
  justify-content: center;
  line-height: 1;
  width:14%;
  margin: 1% 2%;
  outline: none;
  padding: 1rem 1.2rem;
  text-align: center;
  text-decoration: none;
  transition: box-shadow .2s,-webkit-box-shadow .2s;
  white-space: nowrap;
  border: 0;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btn:hover {
  box-shadow: #121212 0 0 0 3px, transparent 0 0 0 0;
}

body{
    margin:0
}

.demo{
  font-weight: 500;
}
.login{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.container{
    text-align: center;
    background-color: rgb(214, 214, 214);
    width: 100vw;
    height: 100vh;
}
.description{
    font-family: 'PT Mono', monospace;
    font-weight: 100;
    padding:3% 5% 2%;
    line-height: 1.7;
}

